<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Digital Notice Board</title>
</head>

<body>
<div class="header">
    <div class="navbaraaa" style="background-color: #ffffff; height: 60px; padding-top: 8px; padding-left: 10px;">
        <a class="navbar-brand" href="https://btech.mit.asia"><img src="{% static 'images/logo.jpg' %}" alt="" width="330" height="47.5" margin="me-auto"></a>
        <span><strong style="padding-left: 130px; color: rgb(18, 43, 89); font-size: 25px; opacity: 0.9;">Computer Science and Engineering</strong></span>
    </div>
</div>

<table style="border:20; border-color: rgb(18, 43, 89);">
    <tr style="height: 5px; ">
        <th style="height: px; width: 400px; border-color: black; background-color:#e3f2fd; margin-top: 80px;">
          <p style="text-align: center; padding-top: 4px; ">DATE : {{ dates }}</p>  
        </th>

        <th style="height: 0px; width: 1120px; background-color: beige; border-color: black 5px;">
            <marquee behavior="" direction="left" style="color: red;"><b>!!! URGENT NOTICE !!!</b></marquee>
        </th>
        
        <th style="height: 0px; width: 400px; border-color: black; background-color: #e3f2fd;">
            <p id="demo" style="text-align: center; padding-top: 8px;">
            <script>
            var myVar = setInterval(myTimer, 1000);
            
            function myTimer() {
              var d = new Date();
              document.getElementById("demo").innerHTML = d.toLocaleTimeString();
            }
            </script>
            </p>  
        </th>
    </tr>

        <tr>
            <td style="background-color: greenyellow; padding-top: 0px;" >
                <div class="panel panel-default" id="tab2">
                    <div class="panel-heading" style="background-color: rgb(18, 43, 89); border-color: black; color: white; text-align: center;"><b>NEWS FEED</b></div>
                    <div class="panel-body" style="height: 320px;">Kafir hunu bhaanda marnu ramro<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aliquid perferendis illum architecto. Quos earum incidunt quasi eaque? Magnam repudiandae neque veritatis voluptate maxime? Nostrum magni odit perspiciatis quasi dignissimos.</div>
                    <div class="panel-heading" style="background-color:rgb(18, 43, 89) ; color: white; text-align: center;"><b>UPCOMING EVENTS</b></div>
                    <div class="panel-body" style="height: 320px;">Kafir hunu bhaanda marnu ramro</div>
                </div>  
            </td>
            <td>
                <div class="container devimg">
                    <div class="slideshow-container" style="background-color: beige;">
                        {% for i in product%}
                        <div class="mySlides fade">
                          <img src="{{i.photo.url}}" style="object-fit: cover; image-resolution: 300dpi; border: black; border-radius: 5px; height: 635px; width: 100%; ">
                        </div>
                        {% endfor %}
                      </div>
            </td> 
            <td style="background-color: greenyellow; padding-top: 0px">
                <div class="panel panel-default" id="tab2"> 
                    <!-- <div class="panel panel-default" id="tab2"> -->
                        <div class="panel-heading" style="background-color: rgb(18, 43, 89); color: white; text-align: center;"><b>CURRENT EVENTS</b></div> 
                        <div class="panel-body" style="height: 320px;">Kafir hunu bhaanda marnu ramro</div>
                        <div class="panel-heading" style="background-color:rgb(18, 43, 89); color: white; text-align: center;" ><b>THOUGHT OF THE DAY</b></div>
                        <div class="panel-body" style="height: 320px;">Kafir hunu bhaanda marnu ramro</div>
                    <!-- </div> -->
                </div>
            </td>
        </tr>
</table>


  <div class="footer">
    <p  style="margin:auto; font-size: 10px;">&#169 MIT(T) 2021-2022 All Rights Reserved.<br> Designed and Developed By : Ganesh Chavan & Sachin Kale</p>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script>
var slideIndex = 0;
showSlides();
function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}

  slides[slideIndex-1].style.display = "block";
  
  setTimeout(showSlides, 10000); // Change image every 2 seconds
}
</script>

</body>
</html>